In [10]:
# Imports 
import sqlite3

In [11]:
# Working with and creating new database below for MOVIES
movies_db = sqlite3.connect('Movies.db')
print(movies_db)

<sqlite3.Connection object at 0x0000022D7FE49120>

In [12]:
## Creating cursor object, using cursor object to create new tables and add table data
cur = movies_db.cursor()
# Script to populate table
cur.executescript("""
    BEGIN;
    CREATE TABLE movies (title TEXT, genre TEXT, release INTEGER, rt_score INTEGER);
    INSERT INTO movies VALUES ('Insterstellar', 'Science Fiction', 2014, 73);
    INSERT INTO movies VALUES ('Pride and Prejudice', 'Novel', 2005, 87);
    INSERT INTO movies VALUES ('Inception', 'Science Fiction', 2010, 87);
    INSERT INTO movies VALUES ('Barbie', 'Comedy', 2023, 88);
    INSERT INTO movies VALUES ('Good Will Hunting', 'Drama', 1996, 97);
    COMMIT;
""")

In [13]:
# Read table data
cur.execute("SELECT * FROM movies").fetchall()

[('Insterstellar', 'Science Fiction', 2014, 73),
 ('Pride and Prejudice', 'Novel', 2005, 87),
 ('Inception', 'Science Fiction', 2010, 87),
 ('Barbie', 'Comedy', 2023, 88),
 ('Good Will Hunting', 'Drama', 1996, 97)]

In [14]:
# Update table data - There was a typo for the release year of Good Will Hunting, lets update this!
update_release_year = 1997
movie_to_update = 'Good Will Hunting'
cur.execute("UPDATE movies SET release = ? WHERE title = ?", [update_release_year, movie_to_update])
movies_db.commit()

In [9]:
# Verify Update
cur.execute("SELECT * FROM movies").fetchall()

NameError: name 'cur' is not defined

In [ ]:
# Delete table data
movie_to_delete = 'Inception' # Too many sci fi movies!
cur.execute("DELETE FROM movies WHERE title = ?", [movie_to_delete])

In [ ]:
# Confirm movie deleted!
cur.execute("SELECT * FROM movies").fetchall()

[('Insterstellar', 'Science Fiction', 2014, 73),
 ('Pride and Prejudice', 'Novel', 2005, 87),
 ('Barbie', 'Comedy', 2023, 88),
 ('Good Will Hunting', 'Drama', 1997, 97)]

In [ ]:
for row in cur.execute('SELECT title FROM movies'):
    print(row)

('Insterstellar',)
('Pride and Prejudice',)
('Barbie',)
('Good Will Hunting',)

In [ ]:
# MAKE SURE to close the db connection when we're done with it.
## Leaving open connections hanging around can cause our database to be locked 
movies_db.close()