# SQL Part 1 Studio

Let's practice your SQL querying skills!  For each question, work along in the notebook adding your query and answering the questions.

## Dataset

We will be using the same Goodreads dataset that was used for the exercises in the prep work. Feel free to reference your exercises notebook as you work on the studio. The Kaggle dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k).

You can access **BooksDB** in the Launchcode server.

## Business Issue

You work for a small independent book store and you want to increase sales by running a new marketing campaign. Before you can design your campaign, you need to get more familiar with what is going on with the world of book publishing. Time to get more familar with BooksDB!

## Part 1: BooksDB Questions

Question 1: Write a query of the `books` table that returns the top 100 results and includes `book_id`, `authors`, `title`, and `average_rating`. Use an alias for at least one column and sort the result set in descending order of rating. What is the number one book?

In [ ]:
select top 100 book_id,authors,title,average_rating 'AVERAGE' from BOOKSDB.dbo.books order by AVERAGE DESC;

Question 2: Write a query to find the least popular book.

In [ ]:
SELECT top 1 book_id, title, average_rating
FROM BooksDB.dbo.books
ORDER BY average_rating ASC;

Question 3: Which tag is the most popular?

In [ ]:
-- returnSELECT Top 1 goodreads_book_id, tag_id, [count]
From BooksDB.dbo.book_tags
ORDER BY [count] DESC; most popular tag

Question 4: What is the name of the most popular tag?

In [ ]:
-- SELECT tag_name
FROM BooksDB.dbo.tags
where tag_id = 30574;return name of most popular tag

Question 5: How many books where released in the first decade of 2000?

In [ ]:
-- return number of books published in the first decade of 2000

Question 6: How many book titles contain the word, "happy"?

In [ ]:
-- return number of books that contain the word, "happy"SELECT Top 1 goodreads_book_id, tag_id, [count]
Select count(book_id)
FROM BooksDB.dbo.books
where title LIKE '%happy%';

Question 7: List the books from the top 3 authors from Question 1.  If there is more than one author just use the first one. Sort the title alphabetically by `author` and then by `average_rating`, best rated to lowest. Does this order matter in sorting?

In [ ]:
-- retSELECT book_id, authors, title, average_rating as 'rating'
FROM BooksDB.dbo.books
WHERE authors IN ('Bill Watterson','Brandon Sanderson', 'J.K. Rowling')
order by authors DESC, rating DESC;urn all books from the top 3 authors, sort by author and rating

Question 8: Write a query that returns the number of authors whose first name is between rock and roll.

In [ ]:
-- relect authors
  From BooksDB.dbo.books
  where authors BETWEEN 'rock'and 'roll';eturn number of authors whose first name is between rock and roll

## Part 2: Find the Answers to Your Own Questions

Your Question:  Click here to add a questions that you want to answer and write a query to find the answer!

In [ ]:
SELECT Top 1 authors, count(*) as Books_Count
From BooksDB.dbo.books
GROUP BY authors
Order by Books_Count DESC;

Your Question:  Click here to add a questions that you want to answer and write a query to find the answer!

In [ ]:
-- Add your query here

If you cannot think of a question you want to ask, here are some question examples to help jumpstart your brainstorming process:

1. What book has the longest title?
1. Which author has written the most books?
1. What were the top ten books published the year I was born?