# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [1]:
create table JunkDB_STL_Oct 2025.Gesu.planned_makes(make_id INT PRIMARY KEY, make_name VARCHAR(50) NOT NULL,  planned_date DATE,   description

SyntaxError: invalid decimal literal (953403467.py, line 1)

Add three rows to your table that are your planned makes.

In [ ]:
INSERT INTO Sep2025JunkDB.gesu_sakhuja.planned_makes (project_id, project_type, project_name, planned_start_date, estimated_completion_date,description)
VALUES (1, 'Coding', 'Develop a Task Manager', '2023-09-01', '2023-09-30', 'Create a web-based task manager application.');
     
INSERT INTO Sep2025JunkDB.gesu_sakhuja.planned_makes(project_id, project_type, project_name, planned_start_date, ingredients, notes)
VALUES (2, 'Cooking', 'Create a Vegan Pasta Dish', '2023-08-25', 'List of ingredients...', 'Experiment with different vegan cheeses.');

INSERT INTO Sep2025JunkDB.gesu_sakhuja.planned_makes (project_id, project_type, project_name, planned_start_date, estimated_completion_date, materials, tools)
VALUES (3, 'Woodworking', 'Build a Rustic Bookshelf', '2023-10-15', '2023-10-30', 'List of materials...', 'List of tools...');



select * from Sep2025JunkDB.gesu_sakhuja.planned_makes

## Update a Row

Change different values in one of your three rows.

In [ ]:

update Sep2025JunkDB.gesu_sakhuja.planned_makes set estimated_completion_date = '2023-08-25',description= 'Make a Alfredo sauce for preparing pasta',materials='flour,oil,salt',tools='pizza cutter,wooden plate'
where project_type='Cooking'

## Delete a Row

Delete one of the rows from your table.

In [ ]:
delete from Sep2025JunkDB.gesu_sakhuja.planned_makes where project_type='Coding'

select * from Sep2025JunkDB.gesu_sakhuja.planned_makes

INSERT INTO Sep2025JunkDB.gesu_sakhuja.author(first_name, last_name, birth_year, death_year)
VALUES ('Phillip', 'Pullman', 1946, null);

## Drop the Table

While this has been fun, it is time to drop the table!

In [ ]:

drop table Sep2025JunkDB.gesu_sakhuja.planned_makes


select * from Sep2025JunkDB.gesu_sakhuja.planned_makes